*.pyc
*__pycache__
*egg-info
trained_models

# PyPI
build/*
dist/*
.idea/

# Docs
.DS_Store
_site
.jekyll-cache
__pycache__
.vscode/
docs/_build/
/docs/environments/**/*.md
/docs/environments/**/*.html
!/docs/environments/**/index.md

# Virtual environments
.env
.venv
venv
env.sh

unsloth_compiled_cache/
multigrid/pure_rl/demo_observer_obs/
multigrid/pure_rl/ppo_observer_checkpoints
data/